
    /**
     * Initialize mock object for class {mockClassName}
     *
     * @return \{mockClassName}
     */
    private function _{mockMethodName}()
    {
        ${mockName} = {mock}
        return ${mockName};
    }
