
    /**
     * Test for "{methodComment}"
     *
     * @covers {className}::{origMethodName}
     */
    public function test{methodName}()
    {
        {argumentsInitialize}
        $this->assert{assertion}(
            {className}::{origMethodName}({arguments})
        );
    }
