
    /**
     * Test for "{methodComment}"
     *
     * @covers {className}::{origMethodName}
     * @expectedException {expected}
     */
    public function test{methodName}()
    {
        {argumentsInitialize}
        $this->_object->{origMethodName}({arguments});
    }
