
    /**
     * Test for "{methodComment}"
     *
     * @covers {className}::{origMethodName}
     */
    public function test{methodName}()
    {
        {argumentsInitialize}
        {className}::{origMethodName}({arguments});
    }
